* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenido{
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 1024px;
    width: 100%;
}

.head {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.head > div {
    height: 200px;
    border-radius: 1rem;
}

.head > div:nth-child(1){
    background-color: lightblue;
    border-radius: 1rem;
}

.head > div:nth-child(2){
    background-color: lightcoral;
    border-radius: 1rem;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.menu {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }


.menu > div{
    height: 200px;
    border-radius: 1rem;
}

.menu > div:nth-child(1){
    background-color: lightgreen;
}

.menu > div:nth-child(2){
    background-color: lightpink;
}

.menu > div:nth-child(3){
    background-color: lightsalmon;
}

.menu > div:nth-child(4){
    background-color: lightskyblue;
}

.menu > div:nth-child(5){
    background-color: lightslategray;
}

.menu > div:nth-child(6){
    background-color: lightgoldenrodyellow;
}

.sidebar {
    background-color: black;
    height: 200px;
    border-radius: 1rem;
}

@media (min-width:600px){
    .contenedor {
        background-color: red;
    }
    .head {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .head > div {
        height: 200px;
        width: 50%;
        border-radius: 1rem;
    }
    .body {
        flex-direction: row;
    }
    .menu{
        flex-basis: 60%;
    }
    .sidebar{
        flex-basis: 40%;
        height: auto;
    }
}
@media (min-width:800px){
    body{
        background-color: green;
    }
    .contenedor {
        background-color: green;
    }
    .menu {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .menu > div{
        flex-grow: 1;
        flex-basis: 45%;
    }

}

@media (min-width:1000px){
    body{
        background-color: blue;
    }
    .contenedor {
        background-color: 
        blue;
    }
    .sidebar{
        flex-basis: 30%;
        height: auto;
    }
    .menu{
        flex-basis: 70%;
    }
    .menu > div{
        flex-grow: 1;
        flex-basis: 31%;
    }

}